* {
  margin: 0;
  padding: 0;
}
.header {
  width: 800px;
  height: 500px;
  margin: 30px auto;
}
.header .text-top {
  text-align: center;
}
.header .text-top h2 {
  font-size: 24px;
  padding: 15px 0 20px 0;
}
.header .text-top p {
  font-size: 16px;
  color: darkgray;
  margin-bottom: 16px;
}
.header .text-box p input {
  width: 350px;
  height: 30px;
  margin: 0 20px 30px 20px;
}
.header .combobox .scountry,
.header .combobox .scourse {
  width: 354px;
  height: 30px;
  margin: 0 20px 30px 20px;
}
.header .message .content textarea {
  width: 750px;
  height: 190px;
  margin: 0 20px 30px 20px;
  border-radius: 4px;
}
.header .submit-btn button {
  width: 750px;
  height: 50px;
  margin: 0 20px 30px 20px;
  background-color: black;
  color: white;
  border-radius: 6px;
}
.header .submit-btn button:hover {
  background-color: blue;
}
